.ameku{
    height: 350px;
    width: 250px;
}

.nazo{
    height: 350px;
    width: 250px;
}
.yuurei{
    height: 330px;
    width: 250px;
}
.kaitou{
    height: 350px;
    width: 250px;
}
.KZ{
    height: 350px;
    width: 250px;
}
.gin{
    height: 350px;
    width: 230px;
}
.nas{
    hieght: 350px;
    width: 250px;
}
.kemono{
    hieght: 350px;
    width: 250px;
}
.hon{
    hieght: 350px;
    width: 250px;
}
.saji{
    hieght: 350px;
    width: 250px;
}
.piano{
     hieght: 350px;
    width: 250px;
}