h1{
    color:#223a70;
    
}


.aisatu{
color:#a1dff7;

}



p{
color:orange;
}
.bokaro{
 height:158px;
  width:300px; 
}
.moji{
  color:#8bc0e8;
  
}
.vivid{
  height:168px;
  width:320px; 
}
.wannda{
  height:168px;
  width:300px;
}
.ni-go {
height:168px;
  width:300px;
  }
  .taiminngu{
    color:#29b3f2;
    
  }
  .midori{
    color:#3de823;
    
  }
  .ao{
    color:#23b3e8;
  }
  .kiiro{color:#e8d123;}
  .aka{color:#f54040;}
  .murasaki{color:#d607fa;}
  .murasaki2{color:#f20cdf;}
  .pinnku{color:#ed68e9;}
  .ao2{color:#56bff0;}
  .midori2{color:#37de48;}
  .haiiro{color:#a8ada9;} 
  .murasaki3{color:#ed3bed;}
  .putiseka{color:#3bed6e;}
  .gatya{color:#a1f065;} 